#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contact ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

#contact ul li {
  padding-right: 2px;
}

#contact ul li {
  display: flex;
  align-items: center;
}
