nav {
  background-image: url("/images/skybanner.png");
  background-size: cover;
  min-height: 100px;
}

nav ul {
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
  justify-content: space-around;

}

nav ul li {
  font-size: 30px;
}

@media (min-width: 768px) {
  nav {
    min-height: 300px;
  }
}
