
#flexContainer {
  display: flex;
  flex-direction: column;
}

#flexContent {
  border: thin solid black;
}

#flexPosts {
  border: thin solid blue;
  order: -1;
}

.postItem {
  border: thin solid red;
  margin: 15px;
  padding: 15px;
  text-align: center;

}

@media (min-width: 768px) {
  #flexContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  #flexContent {
    border: thin solid black;
    flex: 1;
  }
  #flexPosts {
    border: thin solid blue;
    flex: 0 0 12em;
  }
}
