
#flexContainer {
  display: flex;
  flex-direction: column;
}

#flexContent, #flexPosts, nav {
  background-color: #eff2f7;
  border-radius: 15px;
}

#flexContent {
  padding: 5px;
  margin-right: 10px;
}

#flexPosts {
  order: -1;
  margin-bottom: 5px;
}

.postItem, .contentItem, .navItem{
  border-radius: 10px;
  background-color: white;
  margin: 15px;
  padding: 15px;
}

.postItem {
  text-align: center;
}

@media (min-width: 768px) {
  #flexContainer {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
  }
  #flexContent {
    flex: 1;
  }
  #flexPosts {
    flex: 0 0 9em;
  }
}
