  @import "animations.css";
@import "postsFlex.css";
@import "navBar.css";

body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: large;
  margin: 0px;
}

iframe {
  width: 100%;
  height: 800px;
}
h1 {
  margin-bottom: 5px;
}

a {
  color: #3c903f;
  text-decoration: none;
}

.postItem img {
  width: 100%;
  height: auto;
}

a:hover {
  border-bottom: 1px dotted #43A047;
}

.fitWidth {
  width:100%;
}

.centered {
  text-align: center;
}

.metadata, .postsMetadata {
  color: gray;
  margin-top: 0px;
}

.postsTitle {
  font-size: 15px;
}

.postsMetadata {
  font-size: 12px;
}

.nomargin {
  margin: 0;
}

/* Styles for blog index page*/
/* Index area */
.contentIndexItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.contentIndexItem > div {
  border-radius: 10px;
  background-color: silver;
}

/* Title banner text items */
.postIndexItem > div > p {

  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  text-align: center;
}
.postIndexItem > div > p > span {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.4);
}
/* Individual post blocks */
.postIndexItem {
  min-width: 200px;
  max-width: 470px;
  margin: 15px;
}
