<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}pjce: {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ "/css/site.css" | prepend: site.baseurl }}">
  {% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{ site.baseurl }}/javascripts/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
  {% endif %}
</head>
