---
layout: default
---
<div id="flexContainer">

  <div id="flexContent" >
    <div class="tagBar">
      <ol>
        <li><label>Filter by: </label></li>
        <li><button onClick="reset();">All</button></li>
      {% for category in site.categories %}
        <li><button onClick="showAll('{{category | pop}}');">{{category | pop}}</button></li>
      {% endfor %}
    </ol>
    </div>
    <div class="contentIndexItem">
      <h1>{{page.excerpt}}</h1>
      <p class="metadata">{{page.date | date: "%-d %B, %Y" }}</p>
      {{ content }}
    </div>
  </div>

</div>
